@import "tailwindcss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
	color: #ffffffde;
	--bg: #284f58;
	--bg-window: #32626e;
	--bg-card: #3f7d8d;
	--bg-input: #4b93a5;
	--secondary-text: #bebebe;
	--border: #bebebe6c;
    --moonSun: #ffeaa7;
	--bg-input-toggle: #113e63;
}

body.light {
	color: #333333;
	--secondary-text: #666666;
	--bg-window: #608f9b;
	--bg-window: #eaccff;
	--bg-card: #ccaaf3;
	--bg-input: #fff6c1;
	--border: #79ceff;
    --moonSun: #fce562;
	--bg-input-toggle: #76c3f0;
	--bg: #79b5d1;

}

body {
	margin: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	min-height: 100vh;
	background-color: var(--bg);
	transition: background-color 0.3s ease, color 0.3s ease;
	font-size: 1.6rem;
}

html {
    font-size: 62.5%;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}