---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Reminders from '../components/Reminders';
import Clock from '../components/Clock';
import Motivation from '../components/Motivation';

---

<Layout>
	<Header/>
	<main>
		<section>
			<Reminders client:load />
		</section>
		<aside>
			<div>
				<p class="done">¡Muy bien! Continúa así...</p>
				<Motivation client:load/>
			</div>
			<Clock client:load/>
		</aside>
	</main>
</Layout>


<style>
main {
	width: 100%;
	height: 100%;
	padding-top: 1rem;
	display: flex;
	gap: 2rem;
	justify-content: center;
}
section {
	width: 50%;
	height: 100%;
}
aside {
	width: 40%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 4rem;
}

.done {
    margin-bottom: 1rem;
}
</style>