---
import "../styles/global.css";
---


<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Tilín</title>
	</head>
	<body class="dark">
		<section>
			<slot />
		</section>
	</body>
</html>

<style>
section {
	width: 85rem;
	height: 100%;
	font-size: 1.6rem;
	margin: 0 auto;
	padding: 2rem;
	background: var(--bg-window);
	border-radius: 2rem;
	box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
	border: 1px solid rgba(255, 255, 255, 0.1);
}
</style>
